body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.candidate {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
utton:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}

#voteCounts {
    list-style: none;
    padding: 0;
}

#voteCounts li {
    margin: 5px 0;
}